[Unit]
Description = BootstrapDC - Nomad Server
After = network.target

[Service]
Type=simple
User=nomad
Group=nomad
ExecStart = /usr/local/bin/nomad agent -config=/etc/nomad/server.hcl

[Install]
WantedBy = multi-user.target