[Unit]
Description = BootstrapDC - Vault Server
After = network.target

[Service]
Type=simple
User=vault
Group=vault
ExecStart = /usr/local/bin/vault server -config=/etc/vault/server.hcl

[Install]
WantedBy = multi-user.target